[package]
name = "alloy-mev"
version = "0.2.2"
authors = ["leruaa"]
license = "MIT"
edition = "2021"
readme = "./README.md"
documentation = "https://docs.rs/alloy-mev"
repository = "https://github.com/leruaa/alloy-mev"
homepage = "https://github.com/leruaa/alloy-mev"
description = """
Easily send transaction bundles using Alloy.
"""

[features]
default = ["reqwest"]
reqwest = ["dep:reqwest", "dep:serde_json", "dep:tower"]

[dependencies]
alloy = { version = "0.3", features = [
    "rpc",
    "rpc-client",
    "rpc-types-mev",
    "json-rpc",
    "network",
    "providers",
    "transports",
    "transport-http",
    "signers",
] }
hyper = { version = "1.4", features = ["client"], optional = true }
tower = { version = "0.5", optional = true }
futures = "0.3"
pin-project = "1.1"
reqwest = { version = "0.12", optional = true }
url = "2.5"
serde_json = { version ="1.0", optional = true }
async-trait = "0.1"

[dev-dependencies]
dotenv = "0.15"
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
anyhow = "1.0"
alloy = { version = "0.3", features = [
    "rpc-client",
    "consensus",
    "signer-local",
] }

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
